$basic-font: "Open Sans", sans-serif;
$link-hover-color: #FF0000;
$background-full: #FFFFFF;
$header-footer-color: #313030;
$img-color: #F5F0DD;
$text-color-light: white;
$text-color-dark: #585858;

@mixin h-style ($font-size, $font-weight, $letter-spacing, $text-transform: uppercase) {
    font-size: $font-size;
    font-weight: $font-weight;
    
    letter-spacing: $letter-spacing;
    text-transform: $text-transform; 
}

@mixin links-style ($text-color, $font-size, $font-weight, $text-transform: uppercase) {
    display: flex;
    color: $text-color;
    font-size: $font-size;
    font-weight: $font-weight;
    text-transform: $text-transform;
    
    text-decoration: none;
    white-space: nowrap;   
}

@mixin button-style ($font-size, $font-weight, $text-transform: uppercase, $background: $link-hover-color, $color: $text-color-light, $border: none) {
  
    background: $background;
    color: $color;
    font-size: $font-size;
    font-family: $basic-font;
    text-transform: $text-transform;
    font-weight: $font-weight;
    border: $border;
    border-radius: 5px;   
}

@mixin flex-position ($justify-content, $align-items, $flex-direction: row, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1579px;
    
    background: $background-full;
    font-family: $basic-font;
}

header {
    margin: 0 auto;
    padding-top: 31px;

    background: #F6F2F2;

    nav {
        @include flex-position(center, center);
        margin: 0 auto;
        max-width: 1250px;
        max-height: 89px;
        
        background:$header-footer-color;

       .burger {
           .burger-img  {
           display: none;
       }
       
       ul.navigation-wrapper {
        position: absolute;
        display: none;
        flex-direction: column;
        background: $header-footer-color;

        opacity: 0;
        right: 0%;
        top: 83%;
       

        z-index: 500;

        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        

        li {
            display: flex;
            list-style-type: none;

            a {
                margin: 5px 15px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
             
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
    }

        .navigation-wrapper {   
            display: flex;
            flex-flow: row wrap;
            flex-wrap: nowrap;

            margin-left: -22px;
           
            color: $text-color-light;

                    a { 
                        @include links-style($text-color-light, 0.9em, 600);           
                      
                        margin-right: 15px;
                        padding: 40px 4.7% 30px;
                        max-height: 23px;
                    }

                    a:hover {
                        background: $link-hover-color;
                    }
                }
            }

            .welcome-wrapper {
                margin: 0 auto;
                display: flex;
                width: 80%;
                
                .welcome-text-wrapper {
                    padding: 93px 3px 85px;
                    width: 50%;
                    font-family: 'Open Sans', sans-serif;
                
                    h1 {  
                        @include h-style(calc(4vw - 3px), 800,  1.5px);
                        line-height: 122%;
                   
                        .style-organaisation {
                            letter-spacing: 6px;
                        }
                    }

                    p {
                        padding: 15px 3px;
                        width: 84%;
                        line-height: 175%;
                        
                        hyphens: manual;
                        opacity: 0.6;
                    }

                    button {
                        @include button-style(17px, 600, none);
                        margin: calc(5% + 8px) 2px;
                        padding: 2.4% 0;
                        width: 36.6%;
                        letter-spacing: 1.4px;   
                    }
                }

                .welcome-video-wrapper {
                    position: relative;
                    width: 50%;
                    
                   
                    .video-wrapper {
                        position: relative;
                        top: 18%;
                        left: calc(11% + 3px);
                        width: 88%; 
                    }

                    .shadow {
                        position:absolute;
                        padding-bottom: 64%;
                        width: 100%;
                        
                        background: #C4C0B1;
                       
                        border-radius: 10px;
                        box-shadow: -1px -17px 42px 8px rgba(0, 0, 0, 0.2);

                        z-index: 1; 
                    }

                    video {
                        position:absolute;

                        padding-bottom: calc(13% + 7px);
                        width:100%;
                        
                        background: #C4C0B1;
                        z-index: 2; 
                    }

                    
                }
            }
    
}

main {
    margin: 0 auto;
    max-width: 1579px;
    width: 85%;

    .offer-wrapper {
        display: flex;
        padding: calc(7% + 6px) 0 5% 46px;
        color: $text-color-dark;

        .offer-text-wrapper {
            max-width: 48%;

            h2 {
                @include h-style(calc(2vw + 10px), 700, 0.8px);
                margin-left: -2px;
                width: 85%;
                line-height: 136%;
            }

            p {
                padding: 32px 0;
                width: 83%;
                line-height: 175%;
                
                hyphens: manual;
            }

            button {
                @include button-style(19px, 600, none, white, $link-hover-color, 2px $link-hover-color solid);
                margin-top: calc(2.5% + 3px);
                padding: calc(2% + 3px) calc(9% + 2px) calc(2% - 1px) 9%;
                letter-spacing: 0.4px;
            }
        }

        .offer-blocks-wrapper {   
            @include flex-position(normal, normal, row, wrap);
            max-width: 51%;
           
            .offer-block {
                @include flex-position(center, normal, column);
                margin: 1% calc(1% - 2px) calc(7% - 9px) calc(2% + 6px);
                max-width: 45%;

                img.icon-1 {
                    width: 40px;
                    height: 42px;
                }

                img.icon-2 {
                    margin-top: -2px;

                    width: 40px;
                    height: 38px;
                }

                img.icon-3 {
                    width: 42px;
                    height: 34px;
                }

                img.icon-4 {
                    width: 44px;
                    height: 33px;
                }

                .icon-3, .icon-4 {
                    margin-left: -3px;
                    padding-bottom: calc(4% - 4px);
                }

                h3 {
                    padding-top: 8%;
                    padding-bottom: calc(2% + 3px);
                    font-size: calc(2vw - 7px);
                    font-weight: 600;
                }

                p {
                    hyphens: manual;
                    line-height: 28px;
                }
            }
        }   
    }

    hr {
        margin: 0 3.5%;
        background-color: #ececec;
        height: 2px;
        border: none;
    }

    .products-wrapper {
        @include flex-position(normal, center, column);
        margin: 0 auto;
        padding: 92px 0 0 2px;

        color: $text-color-dark;

        .text-block {
            @include flex-position(normal, center, column);
            padding-left: 30px;
         

            h2 {
                @include h-style(calc(2vw + 8px), 700, 2px);
            }

            p {
                padding: calc(3% - 5px) 17%;

                hyphens: manual;  
                text-align: center;
                line-height: 28px;
                
            }

            .line {
                margin: 5px 0;
                width: 17%;
                border-bottom: 2px solid $link-hover-color;
            }
            
        }

        .products-blocks-wrapper {
            .links-wrapper {
                margin: calc(5% + 10px) 15% calc(4% - 2px) calc(18% + 5px);
                display: flex;
                flex-wrap: nowrap;
            
                a {
                    @include links-style($text-color-dark, calc(1vw + 6px), 600); 
                    padding-right: 6%;
                    letter-spacing: 0.5px;   
                }

                a:hover {
                    color: $link-hover-color;
                }
            }

            .img-wrapper {
                @include flex-position(center, normal, row, wrap);

                .product {
                    margin: 10px;
                    width: 298px;
                    height: 290px;
                    overflow: hidden;

                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .team-information-wrapper {
        padding: calc(9% - 6px) 0 0 calc(3% - 6px);
        color: $text-color-dark;

        .text-block {
            h2 {
                @include h-style(2.6em, 700, 0.7px);
            }

            p {
                padding: calc(2% - 4px) 1%;
                line-height: 28px;
                hyphens: manual;
                width: 35%;
            }

            .line {
                margin: 7px 14px;
                width: 130px;
                border-bottom: 2px solid $link-hover-color;
            }
        }
        
        .team-members-wrapper {
            padding: calc(5% - 2px) calc(1% - 2px) calc(5% - 7px);
            display: flex;

        .profile-photo {
            position: relative;
            margin-right: calc(6% - 7px);
            width: 336px;

            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                padding-bottom: 33%;
                width: 100%;
                background: $img-color;
            }

        }

        .profile-information {
            padding: 5px 0;
            max-width: 75%;

            .information-text {
                h5 {
                    @include h-style(calc(2em - 2px), 600, 0.4px);
                }
                p {
                    padding: calc(3% - 7px) 3px;
                    width: 75%;
                    line-height: 28px;
                }

                .links-wrapper {
                    @include flex-position(space-between, normal);
                    padding: 16px 4px;
                    width: calc(42% + 3px);
                
                    a {
                        @include links-style($text-color-dark, 1.1em, 400, none);
                        padding-right: 8px;
                        font-style: italic;
                        letter-spacing: 1px; 
                    }
                    a:hover {
                        color: $link-hover-color;
                    }
                }
            }

            .another-members {
                position: relative;
                
                display: flex;
                padding: calc(5% + 2px) 3px;
                width: 100%;
                margin: 0 -10px;

                .img-wrapper {
                    position: relative;
                    height: 213px;
                    margin: 0 10px;
                    width: 197px;
                    overflow: hidden;

                    img {
                        position: absolute;
                        
                        padding-bottom: calc(13% + 7px);
                        width: 100%;
                        background: $img-color;
                        z-index: 1;
                    }

                    .hidden {
                        position: absolute;
                        bottom: 0;

                        padding: 4px 0px 9px 3px;
                        width: 100%;

                        background: #7A786E;
                        color: $text-color-light;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        opacity: 0;
                        z-index: 2; 
                        
                    }
                }

                .img-wrapper:hover .hidden {
                    opacity: 0.5;
                }
            }
        }
    }}
}

footer {
    width: 100%;

    .subscribe-wrapper {
        @include flex-position(normal, center, column);

        padding: calc(6% + 11px) 0 calc(5% + 4px);
        background: $img-color;
        color: $text-color-light;
        .text-wrapper { 
            text-align: center;

            h2 {
                margin-left: -2px;
                padding: 23px 0;
                font-size: 40px;
                letter-spacing: 2px;
            }

            p {
                padding: 4px 0;
            }
        }
        
        .form-for-e-mail {
            margin-left: calc(2% - 2px);
            padding: calc(3% + 8px) 0;
        
            width: 50%;
            @include flex-position(normal, center);
          
            input {
                padding: 31px 91px 29px 36px;
                width: 50%;
                font-size: calc(1vw + 1px);
                border: none;
                border-radius: 5px;
            }

            button {
                @include button-style(calc(1vw + 3px), 700);
                margin-left: 22px;
                padding: calc(3% + 4px) calc(7% + 1px);
            }
            
        }
    }

    .contact-info-wrapper {
        @include flex-position(normal, normal, column);
        position: relative;
        width: 100%;

        .text-wrapper {
            padding: calc(6% - 2px) calc(10% + 5px) calc(4% - 1px);
            color: $text-color-dark;

            h2 {
                @include h-style(2.6em, 700, 0.7px);
            }

            p {
                padding: calc(3% - 3px) 3px;
                line-height: 28px;
                hyphens: manual;
                width: 58%;
            }

            .line {
                margin: 14px 1px;
                width: 131px;
                border-bottom: 2px solid $link-hover-color;
            }
        }

        .contact-flex-block {
            position: relative;
                max-width: 100%;
                margin-bottom: 7%;
                padding-left: calc(10% + 5px);

            .form-for-contact {
                width: 52%;

                .input-wrapper {
                    @include flex-position(space-between, normal);

                    input {
                        margin-right: 2px;
                        padding: 25px 0 24px 54px;
                        width: 39%;
                        
                        background: #E5E5E5;
                        font-size: calc(1vw + 1px);

                        border: none;
                        border-radius: 10px;  
                    }
                }

                textarea {
                    margin: calc(5% + 9px) 0 0 2px;
                    padding: calc(3% - -3px) calc(3% + 5px);
                    width: 92%;
                   
                    color: $text-color-dark;
                    background: #E5E5E5;
                    font-size: calc(1vw + 1px);

                    border: none;
                    border-radius: 10px;    
                }

                button {
                    @include button-style(calc(1vw + 3px), 600);
                    margin: calc(5% - -2px) 0 0 2px;
                    padding: calc(3% + 0px) calc(7% + 3px) calc(3% + 2px) calc(7% + 7px);
                    width: 99%;
                }
            }
         }
         .contact-info {
            position: absolute;
            bottom: 0;
            right: 0;

            padding: 7% 0 calc(7% + 8px) calc(5% - -2px);
            width: calc(31% + 6px);

            background: $header-footer-color;
            color: $text-color-light;
            font-size: 16px;

            h6 {
                @include h-style(19px, -600, -0.3px);
                margin-left: -2px;
                padding: calc(6% - 1px) 0;
            }

            p {
                padding-bottom:5%;
                width: 61%;  
            }

           p.address {
               line-height: 28px;
               padding-bottom: 4%;
           }

        }  
    }

    .copyright-block {
        @include flex-position(space-between, normal);
        padding: calc(3% + 5px) calc(11% - 8px);

        background: $header-footer-color;
        color: $text-color-light;

        .social-wrapper {
            margin-top: -6px;
            display: flex;
            flex-wrap: nowrap;

            img {
                padding-left: 9%;
                width: 33px;
                height: 33px;
            }
        }
    }
}
