$basic-font: "Open Sans", sans-serif;
$link-hover-color: #FF0000;
$background-full: #FFFFFF;
$header-footer-color: #313030;
$img-color: #F5F0DD;
$text-color-light: white;
$text-color-dark: #585858;

@mixin h-style ($font-size, $font-weight, $text-transform: uppercase) {
    font-size: $font-size;
    font-weight: $font-weight;
    
    text-transform: $text-transform; 
}

@mixin links-style ($text-color, $font-size, $font-weight, $text-transform: uppercase) {
    display: flex;
    color: $text-color;
    font-size: $font-size;
    font-weight: $font-weight;
    text-transform: $text-transform;
    
    text-decoration: none;
    white-space: nowrap;   
}

@mixin button-style ($text-transform: uppercase, $background: $link-hover-color, $color: $text-color-light, $border: none) {
    background: $background;
    color: $color;
    font-size: 20px;
    font-family: $basic-font;
    text-transform: $text-transform;
    font-weight: 600;
    border: $border;
    border-radius: 5px;   
}

@mixin flex-position ($justify-content, $align-items, $flex-direction: row, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin hover-transition {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 1579px;
    
    background: $background-full;
    font-family: $basic-font;

    p {
        padding: 2% 1%;
        width: 100%;
        hyphens: manual;  
        line-height: 28px;
    }

    button {
        @include hover-transition;
        padding: 2% 9%;
    }
}

header {
    margin: 0 auto;
    padding-top: 31px;

    background: #F6F2F2;

    nav {
        margin: 0 auto;
        max-width: 1250px;
        background:$header-footer-color;

        .burger {

            .burger-img {
                    display: none;
                }
        
            ul.navigation-wrapper {
                @include flex-position(center, center);
                @include hover-transition;  
                color: $text-color-light;
            
                z-index: 500;

                li {
                    padding: 2%;
                    list-style-type: none;

                    a {
                        @include links-style($text-color-light, 1em, 600);   
                        @include hover-transition;           
                    }

                    &:hover {
                        background: $link-hover-color;
                    }
                }
            }
        }
    }
    
    .welcome-wrapper {
        margin: 0 auto;
        display: flex;
        width: 80%;
        
        .text-wrapper {
            padding: 90px 0;
            width: 50%;
            font-family: 'Open Sans', sans-serif;
        
            h1 {  
                @include h-style(3vw, 800);
            }

            p {
                padding: 15px 0;
                width: 85%;
                opacity: 0.5;
            }

            .standard-button {
                @include button-style(none);
                @include hover-transition;
                margin: 5% 0; 

                &:hover {
                    color: black;
                }
            }
        }

        .welcome-video-wrapper {
            position: relative;
            width: 50%;
            
            .video-wrapper {
                position: relative;
                top: 18%;
                left: 11%;
                width: 88%;
            }

            video {
                position:absolute;

                padding-bottom: 13%;
                width:100%;
                
                background: #C4C0B1;
                z-index: 2; 
                box-shadow: -1px -17px 42px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: 1579px;

    .offer-wrapper {
        display: flex;
        padding: 5%;
        color: $text-color-dark;
       
        .text-wrapper {
            max-width: 48%;

            h2 {
                @include h-style(2vw, 700);
                margin-left: -2px;
                width: 85%;
                line-height: 136%;
            }

            p {
                padding: 32px 0;
                width: 83%;
            }

            button {
                @include button-style(none, white, $link-hover-color, 2px $link-hover-color solid);
                margin-top: 3%;
                

                &:hover {
                    color: white;
                    background: $link-hover-color;
                }
            }
        }

        .offer-blocks-wrapper {   
            @include flex-position(normal, normal, row, wrap);
            max-width: 51%;  
           
            .offer-block {
                margin: 2%;
                max-width: 45%;

                i {
                    color: $link-hover-color;
                    font-size: 42px;
                }
                h3 {
                    padding: 7% 0;
                    font-size: 2vw;
                    font-weight: 600;
                }

                
            }
        }   
    }

    hr {
        margin: 0 3.5%;
        background-color: #ececec;
        height: 2px;
        border: none;
    }

    .products-wrapper {
        @include flex-position(normal, center, column);
        padding: 4% 0;

        color: $text-color-dark;

        .text-wrapper {
            @include flex-position(normal, center, column);
            padding-left: 30px;
         

            h2 {
                @include h-style(2vw, 700);
            }

            p {
                width: 90%;
                text-align: center;
                line-height: 28px; 
            }

            .line {
                margin: 5px 0;
                width: 17%;
                border-bottom: 2px solid $link-hover-color;
            }
            
        }

        .products-blocks-wrapper {
            .links-wrapper {
                margin: 2% 20%;
                @include flex-position(space-around, normal);
            
                a {
                    @include links-style($text-color-dark, 1vw, 600); 
                    @include hover-transition;

                    &:hover {
                        color: $link-hover-color;
                    }
                }
                
            }

            .img-wrapper {
                @include flex-position(center, normal, row, wrap);

                .product {
                    margin: 10px;

                    img {
                        width: 300px;
                        height: 300px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .team-information-wrapper {
        padding: 4% 3%;
        color: $text-color-dark;

        .text-wrapper {
            h2 {
                @include h-style(2em, 700);
            }

            p {
                width: 35%;
                padding: 2% 0;
            }

            .line {
                margin: 0 15px;
                width: 130px;
                border-bottom: 2px solid $link-hover-color;
            }
        }
        
        .team-members-wrapper {
            padding: 3% 1%;
            display: flex;

        .profile-photo {
            position: relative;
            margin-right: 6%;
            width: 336px;

            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                padding-bottom: 33%;
                width: 100%;
                background: $img-color;
            }

        }

        .profile-information {
            padding: 5px 0;
            max-width: 75%;

            .text-wrapper {
                h5 {
                    @include h-style(2em, 600);
                }
                p {
                    padding: 3% 3px;
                    width: 75%;
                    line-height: 28px;
                }

                .links-wrapper {
                    @include flex-position(space-between, normal);
                    padding: 16px 0;
                    width: 50%;
                
                    a {
                        @include links-style($text-color-dark, 1em, 400, none);
                        @include hover-transition;
                        padding-right: 8px;
                        font-style: italic;
                        letter-spacing: 1px; 

                        &:hover {
                            color: $link-hover-color;
                        }
                    }
                    
                }
            }

            .another-members {
                position: relative;
                display: flex;

                width: 100%;
                margin: 0 -10px;

                .img-wrapper {
                    position: relative;
                    height: 213px;
                    margin: 0 10px;
                    width: 197px;
                    overflow: hidden;

                    img {
                        position: absolute;
                        padding-bottom: 13%;
                        width: 100%;
                        background: $img-color;
                        z-index: 1;
                    }

                    .hidden {
                        @include hover-transition;
                        position: absolute;
                        bottom: 0;

                        padding: 4px 0px 9px 3px;
                        width: 100%;

                        background: #7A786E;
                        color: $text-color-light;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        opacity: 0;
                        z-index: 2;    
                    }

                    &:hover .hidden {
                        opacity: 0.5;
                    }
                }

                
            }
        }
    }}
}

footer {
    width: 100%;

    .subscribe-wrapper {
        @include flex-position(normal, center, column);

        padding: 6% 0;
        background: $img-color;
        color: $text-color-light;

        .text-wrapper { 
            text-align: center;

            h2 {
                padding: 23px 0;
                font-size: 40px;
                letter-spacing: 2px;
            }

            p {
                padding: 4px 0;
                font-size: 1em;
            }
        }
        
        .form-for-e-mail {
            padding: 3% 0;
        
            width: 50%;
            @include flex-position(normal, normal);
          
            input {
                padding: 0 6%;
                width: 50%;
               
                font-size: 20px;
                border: none;
                border-radius: 5px;
            }

            .standard-button {
                @include button-style;
                @include hover-transition;
                margin-left: 22px;
                padding: 3% 7%;

                &:hover {
                    color: black;
                }
            }
            
        }
    }

    .contact-info-wrapper {
        @include flex-position(normal, normal, column);
        position: relative;
        width: 100%;

        .text-wrapper {
            padding: 3% 10%;
            color: $text-color-dark;

            h2 {
                @include h-style(2em, 700);
            }

            p {
                padding: 3% 0;
                width: 60%;
            }

            .line {
                margin: 14px 0;
                width: 130px;
                border-bottom: 2px solid $link-hover-color;
            }
        }

        .contact-flex-block {
            position: relative;
                max-width: 100%;
                margin-bottom: 7%;
                padding-left: 10%;

            .form-for-contact {
                width: 52%;

                .input-wrapper {
                    @include flex-position(space-between, normal);

                    input {
                        margin-right: 2px;
                        padding: 25px 0 24px 54px;
                        width: 39%;
                        
                        background: #E5E5E5;
                        font-size: 1em;

                        border: none;
                        border-radius: 10px;  
                    }
                }

                textarea {
                    margin: 5% 0 0 2px;
                    padding: 3% 3%;
                    width: 92%;
                   
                    color: $text-color-dark;
                    background: #E5E5E5;
                    font-size: 1vw;

                    border: none;
                    border-radius: 10px;    
                }

                .standard-button {
                    @include button-style;
                    @include hover-transition;
                    margin: 5% 0 0 2px;
                    padding: 3% 7% 3% 7%;
                    width: 99%;

                    &:hover {
                        color: black;
                    }
                }
            }
         }
         .contact-info {
            position: absolute;
            top: 0;
            right: 0;

            padding: 7% 3%;
            width: 27%;

            background: $header-footer-color;
            color: $text-color-light;
            font-size: 16px;

            h6 {
                @include h-style(19px, 600);
            }

            p {
                padding-bottom: 5%;
                width: 60%;  
            }

        }  
    }

    .copyright-block {
        @include flex-position(space-between, normal);
        padding: 3% 8%;

        background: $header-footer-color;
        color: $text-color-light;

        .social-wrapper {
            @include flex-position(space-around, normal, row, nowrap);

            .circle {
                @include hover-transition;
                position: relative;
                margin: 5px;
                width: 33px;
                height: 33px;
                background: $background-full;
                border-radius: 50%;
                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: $header-footer-color;
                        font-size: 22px;
                        transform: translate(-50%, -50%);  
                    }
                &:hover {
                    background: $link-hover-color;
                }
            }
        }
    }
}