$border-color: #ff000094;
$header-footer-color: #313030;

@mixin flex-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

@media screen and (max-width:450px) {
    body header nav {
            position: relative;
            justify-content: flex-end;
           
            .burger {
                .burger-img {
                    display: block;
                    padding: 10px;
                    float: right;
                    cursor: pointer;

                    &:hover ~ ul.navigation-wrapper{
                        opacity: 1;
                    }
                }

                ul.navigation-wrapper {
                    position: absolute;
                    flex-direction: column;
                    background: $header-footer-color;
    
                    right: 9%;
                    top: 10px;
                    opacity: 0;
                    border-radius: 5px;

                    li {
                        width: 100%;
                        border-bottom: 1px solid white;
                        a {
                            font-size: 13px;
                            margin: 5px 15px;
                        }
                    }
                }
            }
        }
    }


@media screen and (max-width:576px) {
    body {
       header {
        padding-top: 10px;
           nav {
            max-height: 50px;

            .navigation-wrapper {
                margin-left: 0;
                justify-content: space-around;

                a {
                    padding: 3%;
                }
            }
        }
           .welcome-wrapper {
               flex-direction: column;

               .text-wrapper {
                   @include flex-mobile();
                   width: 100%;
                   padding: 5% 2% 0;
                   text-align: center;

                   h1 {
                    font-size: 5vw;
                   }
                   p {
                    width: 100%;
                    
                    line-height: normal;
                   }
                   button {
                    margin: 0 0 5% 0;
                   }
               }

               .welcome-video-wrapper {
                    padding-bottom: 3%;
                    width: 100%;
                    
                    display: flex;        
                    align-items: center;
                    justify-content: center;

                    .video-wrapper {
                        left: 0;
                        width: 70%;

                            video {
                            position: relative;
                        }
                    }
                }
           }
       } 

       main {
        .offer-wrapper {
            padding: 5% 0;
            flex-direction: column;

            .text-wrapper {
                h2 {
                    font-size: 5vw;
                }
        
                button {
                    margin: 0;
                }
            }
          
        }
        .products-wrapper {
            padding: 3%;

            .text-block {
                padding-left: 0;

                .line {
                    width: 30%;
                }
            }

            .products-blocks-wrapper 
                .img-wrapper   
                    .product {
                        margin: 3px;
                    }     
        }

        .team-information-wrapper {
            padding: 0;

            .text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                p {
                    width: 100%;
                }
            }

            .team-members-wrapper {
                padding: 10px 0;

                .profile-photo {
                    margin-top: 4%;
                }

                .profile-information {
                    padding: 0;
                    max-width: 60%;

                    .text-wrapper {
                        p, .links-wrapper {
                            width: 100%;
                        }

                        .links-wrapper {
                            justify-content: space-around;

                            a {
                                padding-right: 0; 
                                font-size: 14px;
                            }
                        } 
                    }
                    .another-members 
                            .img-wrapper {
                                height: 76px;
                                .hidden {
                                    display: none;
                                }

                            } 
                }
            }
        }
       }

       footer {
        .subscribe-wrapper {
            padding: 2% 0;

            .text-wrapper {
                @include flex-mobile();

                h2 {
                    font-size: 23px;
                }
                p {
                    width: 80%;
                }
            }

            .form-for-e-mail {
                width: 80%;

                button {
                    padding: 3% 5%;
                    font-size: 15px;
                }
            }
        }

        .contact-info-wrapper {
            padding: 0;

            .text-wrapper {
                padding: 4% 5%;

                h2 {
                    font-size: 1.5em;
                }
                p {
                   font-size: 15px; 
                   line-height: normal;
                }
                .line {
                    width: 50%;
                }
            }

            .contact-flex-block {
                @include flex-mobile();
                margin-bottom: 0;
                padding-left: 0;
                
                .form-for-contact {
                    width: 90%;
                    margin-bottom: 5%;
                }

                .contact-info {
                    position: relative;
                    padding: 2% 5%;
                    width: 90%;
                    text-align: right;

                    p {
                        width: 100%;
                    }

                    h6, p {
                        padding: 1%;
                        
                    }
                }
            }
        }
       }
    }
}
