@media screen and (max-width:768px) { 
    
    body {
        header {
            .welcome-wrapper {
                .text-wrapper {
                    padding: 50px 3px;
                    
                    h1 {
                        font-size: 4vw;
                    }
                }

                .welcome-video-wrapper 
                    .video-wrapper {
                        top: 25%;
                    }
            }
        }

        main {
            max-width: 95%;

            .offer-wrapper {
             
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                .text-wrapper {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        font-size: 3vw;
                    }
                }

                .offer-blocks-wrapper {
                    padding-top: 4%;
                    max-width: 100%;
                    justify-content: space-around;

                    .offer-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 1%;
                        padding: 2%;
                        max-width: 40%;
                        border: 2px solid red;
                        border-radius: 5px;

                    h3 {
                        font-size: 3vw;
                    }

                    p {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
        }
            .products-wrapper {
                justify-content: center;
                max-width: 100%;

                    .text-wrapper {
                        h2 {
                            font-size: 4vw;
                        }
                    }

                    .products-blocks-wrapper {
                        .links-wrapper {
                            margin: 3% 5%;
                            
                                a {
                                    font-size: 2vw;
                                }
                        }
                        .img-wrapper 
                            .product img {
                                width: 188px;
                                height: 180px;
                            }
                    }
                }

                .team-information-wrapper {
                    .text-block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        h2, p {
                            text-align: center;
                            width: 80%;
                        }
                    }
                    .team-members-wrapper {
                        .profile-photo {
                            height: 196px;
                        }

                        .profile-information 
                            .another-members 
                                .img-wrapper {
                                    height: 115px; 

                                    &:hover .hidden{
                                        opacity: 1;
                                    }

                                    .hidden {
                                        opacity: 1;
                                        padding: 3px 0px;
                                        font-size: 0.8em;

                                      
                                    }
                                }    
                        }
                }
            }

            footer {
                .subscribe-wrapper {
                    .text-wrapper 
                        h2 {
                            margin: 0 auto;
                            width: 90%;
                            font-size: 26px;
                        }
               
                    .form-for-e-mail {
                        width: 80%;
                
                    }
                }

                .contact-info-wrapper {

                    .text-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        p {
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .contact-flex-block {
                        .form-for-contact {
                        .input-wrapper 
                            input {
                                padding: 4% 5%;
                            }
                        

                        textarea {
                            font-size: 13px;
                        }

                        button {
                            font-size: 13px;
                        }
                    }

                        .contact-info {
                            padding: 4% 3%;
                            font-size: 13px;
                            width: 25%; 

                            h6 {
                                font-size: 15px;
                            }

                            p.address {
                                line-height: 16px; 
                            }
                        }
                    }
                }

                .copyright-block 
                    .text-wrapper 
                        p {
                            font-size: 13px;
                        }
                    
            }
    }
}