* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 1579px;
  background: #FFFFFF;
  font-family: "Open Sans", sans-serif;
}
body p {
  padding: 2% 1%;
  width: 100%;
  hyphens: manual;
  line-height: 28px;
}
body button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 2% 9%;
}

header {
  margin: 0 auto;
  padding-top: 31px;
  background: #F6F2F2;
}
header nav {
  margin: 0 auto;
  max-width: 1250px;
  background: #313030;
}
header nav .burger .burger-img {
  display: none;
}
header nav .burger ul.navigation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  z-index: 500;
}
header nav .burger ul.navigation-wrapper li {
  padding: 2%;
  list-style-type: none;
}
header nav .burger ul.navigation-wrapper li a {
  display: flex;
  color: white;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav .burger ul.navigation-wrapper li:hover {
  background: #FF0000;
}
header .welcome-wrapper {
  margin: 0 auto;
  display: flex;
  width: 80%;
}
header .welcome-wrapper .text-wrapper {
  padding: 90px 0;
  width: 50%;
  font-family: "Open Sans", sans-serif;
}
header .welcome-wrapper .text-wrapper h1 {
  font-size: 3vw;
  font-weight: 800;
  text-transform: uppercase;
}
header .welcome-wrapper .text-wrapper p {
  padding: 15px 0;
  width: 85%;
  opacity: 0.5;
}
header .welcome-wrapper .text-wrapper .standard-button {
  background: #FF0000;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 5% 0;
}
header .welcome-wrapper .text-wrapper .standard-button:hover {
  color: black;
}
header .welcome-wrapper .welcome-video-wrapper {
  position: relative;
  width: 50%;
}
header .welcome-wrapper .welcome-video-wrapper .video-wrapper {
  position: relative;
  top: 18%;
  left: 11%;
  width: 88%;
}
header .welcome-wrapper .welcome-video-wrapper video {
  position: absolute;
  padding-bottom: 13%;
  width: 100%;
  background: #C4C0B1;
  z-index: 2;
  box-shadow: -1px -17px 42px 8px rgba(0, 0, 0, 0.2);
}

main {
  margin: 0 auto;
  max-width: 1579px;
}
main .offer-wrapper {
  display: flex;
  padding: 5%;
  color: #585858;
}
main .offer-wrapper .text-wrapper {
  max-width: 48%;
}
main .offer-wrapper .text-wrapper h2 {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: -2px;
  width: 85%;
  line-height: 136%;
}
main .offer-wrapper .text-wrapper p {
  padding: 32px 0;
  width: 83%;
}
main .offer-wrapper .text-wrapper button {
  background: white;
  color: #FF0000;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-weight: 600;
  border: 2px #FF0000 solid;
  border-radius: 5px;
  margin-top: 3%;
}
main .offer-wrapper .text-wrapper button:hover {
  color: white;
  background: #FF0000;
}
main .offer-wrapper .offer-blocks-wrapper {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 51%;
}
main .offer-wrapper .offer-blocks-wrapper .offer-block {
  margin: 2%;
  max-width: 45%;
}
main .offer-wrapper .offer-blocks-wrapper .offer-block i {
  color: #FF0000;
  font-size: 42px;
}
main .offer-wrapper .offer-blocks-wrapper .offer-block h3 {
  padding: 7% 0;
  font-size: 2vw;
  font-weight: 600;
}
main hr {
  margin: 0 3.5%;
  background-color: #ececec;
  height: 2px;
  border: none;
}
main .products-wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 4% 0;
  color: #585858;
}
main .products-wrapper .text-wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 30px;
}
main .products-wrapper .text-wrapper h2 {
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
}
main .products-wrapper .text-wrapper p {
  width: 90%;
  text-align: center;
  line-height: 28px;
}
main .products-wrapper .text-wrapper .line {
  margin: 5px 0;
  width: 17%;
  border-bottom: 2px solid #FF0000;
}
main .products-wrapper .products-blocks-wrapper .links-wrapper {
  margin: 2% 20%;
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
main .products-wrapper .products-blocks-wrapper .links-wrapper a {
  display: flex;
  color: #585858;
  font-size: 1vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .products-wrapper .products-blocks-wrapper .links-wrapper a:hover {
  color: #FF0000;
}
main .products-wrapper .products-blocks-wrapper .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  flex-wrap: wrap;
}
main .products-wrapper .products-blocks-wrapper .img-wrapper .product {
  margin: 10px;
}
main .products-wrapper .products-blocks-wrapper .img-wrapper .product img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
main .team-information-wrapper {
  padding: 4% 3%;
  color: #585858;
}
main .team-information-wrapper .text-wrapper h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
main .team-information-wrapper .text-wrapper p {
  width: 35%;
  padding: 2% 0;
}
main .team-information-wrapper .text-wrapper .line {
  margin: 0 15px;
  width: 130px;
  border-bottom: 2px solid #FF0000;
}
main .team-information-wrapper .team-members-wrapper {
  padding: 3% 1%;
  display: flex;
}
main .team-information-wrapper .team-members-wrapper .profile-photo {
  position: relative;
  margin-right: 6%;
  width: 336px;
  overflow: hidden;
}
main .team-information-wrapper .team-members-wrapper .profile-photo img {
  position: absolute;
  top: 0;
  padding-bottom: 33%;
  width: 100%;
  background: #F5F0DD;
}
main .team-information-wrapper .team-members-wrapper .profile-information {
  padding: 5px 0;
  max-width: 75%;
}
main .team-information-wrapper .team-members-wrapper .profile-information .text-wrapper h5 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
}
main .team-information-wrapper .team-members-wrapper .profile-information .text-wrapper p {
  padding: 3% 3px;
  width: 75%;
  line-height: 28px;
}
main .team-information-wrapper .team-members-wrapper .profile-information .text-wrapper .links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 16px 0;
  width: 50%;
}
main .team-information-wrapper .team-members-wrapper .profile-information .text-wrapper .links-wrapper a {
  display: flex;
  color: #585858;
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-right: 8px;
  font-style: italic;
  letter-spacing: 1px;
}
main .team-information-wrapper .team-members-wrapper .profile-information .text-wrapper .links-wrapper a:hover {
  color: #FF0000;
}
main .team-information-wrapper .team-members-wrapper .profile-information .another-members {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 -10px;
}
main .team-information-wrapper .team-members-wrapper .profile-information .another-members .img-wrapper {
  position: relative;
  height: 213px;
  margin: 0 10px;
  width: 197px;
  overflow: hidden;
}
main .team-information-wrapper .team-members-wrapper .profile-information .another-members .img-wrapper img {
  position: absolute;
  padding-bottom: 13%;
  width: 100%;
  background: #F5F0DD;
  z-index: 1;
}
main .team-information-wrapper .team-members-wrapper .profile-information .another-members .img-wrapper .hidden {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  padding: 4px 0px 9px 3px;
  width: 100%;
  background: #7A786E;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  z-index: 2;
}
main .team-information-wrapper .team-members-wrapper .profile-information .another-members .img-wrapper:hover .hidden {
  opacity: 0.5;
}

footer {
  width: 100%;
}
footer .subscribe-wrapper {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 6% 0;
  background: #F5F0DD;
  color: white;
}
footer .subscribe-wrapper .text-wrapper {
  text-align: center;
}
footer .subscribe-wrapper .text-wrapper h2 {
  padding: 23px 0;
  font-size: 40px;
  letter-spacing: 2px;
}
footer .subscribe-wrapper .text-wrapper p {
  padding: 4px 0;
  font-size: 1em;
}
footer .subscribe-wrapper .form-for-e-mail {
  padding: 3% 0;
  width: 50%;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .subscribe-wrapper .form-for-e-mail input {
  padding: 0 6%;
  width: 50%;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
footer .subscribe-wrapper .form-for-e-mail .standard-button {
  background: #FF0000;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 22px;
  padding: 3% 7%;
}
footer .subscribe-wrapper .form-for-e-mail .standard-button:hover {
  color: black;
}
footer .contact-info-wrapper {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
}
footer .contact-info-wrapper .text-wrapper {
  padding: 3% 10%;
  color: #585858;
}
footer .contact-info-wrapper .text-wrapper h2 {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}
footer .contact-info-wrapper .text-wrapper p {
  padding: 3% 0;
  width: 60%;
}
footer .contact-info-wrapper .text-wrapper .line {
  margin: 14px 0;
  width: 130px;
  border-bottom: 2px solid #FF0000;
}
footer .contact-info-wrapper .contact-flex-block {
  position: relative;
  max-width: 100%;
  margin-bottom: 7%;
  padding-left: 10%;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact {
  width: 52%;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact .input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact .input-wrapper input {
  margin-right: 2px;
  padding: 25px 0 24px 54px;
  width: 39%;
  background: #E5E5E5;
  font-size: 1em;
  border: none;
  border-radius: 10px;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact textarea {
  margin: 5% 0 0 2px;
  padding: 3% 3%;
  width: 92%;
  color: #585858;
  background: #E5E5E5;
  font-size: 1vw;
  border: none;
  border-radius: 10px;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact .standard-button {
  background: #FF0000;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 5% 0 0 2px;
  padding: 3% 7% 3% 7%;
  width: 99%;
}
footer .contact-info-wrapper .contact-flex-block .form-for-contact .standard-button:hover {
  color: black;
}
footer .contact-info-wrapper .contact-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7% 3%;
  width: 27%;
  background: #313030;
  color: white;
  font-size: 16px;
}
footer .contact-info-wrapper .contact-info h6 {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
}
footer .contact-info-wrapper .contact-info p {
  padding-bottom: 5%;
  width: 60%;
}
footer .copyright-block {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3% 8%;
  background: #313030;
  color: white;
}
footer .copyright-block .social-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}
footer .copyright-block .social-wrapper .circle {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  margin: 5px;
  width: 33px;
  height: 33px;
  background: #FFFFFF;
  border-radius: 50%;
}
footer .copyright-block .social-wrapper .circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #313030;
  font-size: 22px;
  transform: translate(-50%, -50%);
}
footer .copyright-block .social-wrapper .circle:hover {
  background: #FF0000;
}

/*# sourceMappingURL=desktop.css.map */
